@page "/categoryoverview"

<h3>Event Category Overview</h3>

<br />

<p><input class="custom-checkbox" type="checkbox" id="includeHistory" @onchange="OnIncludeHistoryChanged"/>   Include past events?</p>

@if (Categories == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table>
        <thead>
            <tr>
                <th>Category name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var cat in Categories)
            {
                <tr>
                    <td>@cat.Name </td>

                </tr>
                <tr>
                    <td>
                        <table class="nested-table ml-auto mr-auto">
                            <thead>
                                <tr>
                                    <th>Event name</th>
                                    <th class="category-event-header">Event date</th>
                                    <th class="category-event-header">Artist</th>
                                    <th class="category-event-header">Price</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var ev in cat.Events)
                                {
                                    <tr>
                                        <td class="event-name">@ev.Name </td>
                                        <td class="event-date">@ev.Date.ToShortDateString() </td>
                                        <td class="event-artist">@ev.Artist</td>
                                        <td class="event-price">@ev.Price</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

